environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    QTPATH: C:\Qt\5.15\msvc2019_64
    OpenSSL: C:\OpenSSL-v111-Win64\bin
    OS: win
    VCVARSALLPATH: C:\"Program Files (x86)\Microsoft Visual Studio"\2019\Community\VC\Auxiliary\Build\vcvarsall.bat
    VCVARSALL: x64
  - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu2004
    OS: linux
  - APPVEYOR_BUILD_WORKER_IMAGE: macos-mojave
    OS: macOS

install:
    - git submodule update --init --recursive
    - sh: bash .ci/install.sh
    
before_build:
    - cmd: set PATH=%QTPATH%\bin;C:\Qt\Tools\QtCreator\bin;%PATH%
    - cmd: call %VCVARSALLPATH% %VCVARSALL%
    
build_script:
    - mkdir build
    - cd build
    - cmd: cmake -G"NMake Makefiles" -DCMAKE_BUILD_TYPE=RELEASE ../
    - sh: bash ../.ci/build.sh
    - cmake --build .
    
after_build:
    - cmd: md 3DSTimeFinder-windows
    - cmd: move 3DSTimeFinder.exe 3DSTimeFinder-windows\3DSTimeFinder.exe 
    - cmd: windeployqt --no-translations --no-angle --no-plugins --no-opengl-sw 3DSTimeFinder-windows\3DSTimeFinder.exe
    - cmd: del 3DSTimeFinder-windows\vc_redist*.exe
    - cmd: xcopy /I %QTPATH%\plugins\platforms\qwindows.dll 3DSTimeFinder-windows\platforms\
    - cmd: xcopy /I %QTPATH%\plugins\styles\qwindowsvistastyle.dll 3DSTimeFinder-windows\styles\
    - cmd: 7z a 3DSTimeFinder-%OS%.zip 3DSTimeFinder-windows\
    - cmd: sha256sum 3DSTimeFinder-%OS%.zip > 3DSTimeFinder-%OS%.zip.sha256
    - sh: bash .ci/after_build.sh
    
artifacts:
- path: build\3DSTimeFinder-%OS%.zip
- path: build\3DSTimeFinder-%OS%.zip.sha256

deploy:
    provider: GitHub
    description: ''
    auth_token:
        secure: u3c5wUq11csZ77TpgKMImu9U+ibNiviMcEpTuQXmqp1YGSHA/+u5FhqZ3KRZBAQX
    artifact: build\3DSTimeFinder-%OS%.zip,build\3DSTimeFinder-%OS%.zip.sha256
    on:
        APPVEYOR_REPO_TAG: true
